/* CSS Document */

/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

.Background_Color {
  position: absolute;
  top: 0px;
  width: 1520px;
  height: 1800px;
  z-index: 1;
}

.Background_Pattern {
  background-image: url(../Elements/background2.jpg);
  opacity: 0.05;
  position: absolute;
  top: -18px;
  left: 0px;
  width: 1520px;
  height: 1843px;
  z-index: 2;
}

.Blue_Rectangle {
  background-color: #000f5d;
  position: absolute;
  top: 700px;
  left: 0px;
  width: 1520px;
  height: 300px;
  z-index: 5;
}

#container {
	width: 1510px;
	height: 1500px;
	overflow: hidden;
	position: relative;
	z-index: 26;
}

#navigation {
	position: absolute;
	top: 725px;
	left: 200px;
}

img {
	width: 350px;
	height: 233px;
}

.photoGallery {
	height: 233px;
	width: 3550px;
}

.photoGallery img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
 
.photoGallery img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
 
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
/*keyframe animations*/
.first {
	-webkit-animation: bannermove 30s linear infinite;
	   -moz-animation: bannermove 30s linear infinite;
	    -ms-animation: bannermove 30s linear infinite;
	     -o-animation: bannermove 30s linear infinite;
	        animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: -200px;
 }
 100% {
    margin-left: -2345px;
 }
 
}
 
@-moz-keyframes "bannermove" {
 0% {
   margin-left: -200px;
 }
 100% {
   margin-left: -2345px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: -200px;
 }
 100% {
   margin-left: -2345px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: -200px;
 }
 100% {
   margin-left: -2345px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: -200px;
 }
 100% {
   margin-left: -2345px;
 }
 
}


.Wood_Pannel_TOP {
  background-color: rgb(152, 253, 245);
  content: url(../Elements/woodgrainTop.JPG);
  position: absolute;
  top: 280px;
  left: 0px;
  width: 1520px;
  height: 87px;
  z-index: 10;
}

.Wood_Pannel_BOTTOM {
  background-color: rgb(152, 253, 245);
  content: url(../Elements/woodgrainBottom.JPG);
  position: absolute;
  top: 1760px;
  left: 0px;
  width: 1520px;
  height: 87px;
  z-index: 30;
}

.Home_Button {
  font-size: 48px;
  font-family: "Century Gothic";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.91343004211511,0,0,1,0,0);
  -webkit-transform: matrix( 0.91343004211511,0,0,1,0,0);
  -ms-transform: matrix( 0.91343004211511,0,0,1,0,0);
  position: absolute;
  left: 78.484px;
  top: 295px;
  width: 175.688px;
  height: 44px;
  z-index: 18;
}

.About_Button {
  font-size: 48px;
  font-family: "Century Gothic";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.91343004211511,0,0,1,0,0);
  -webkit-transform: matrix( 0.91343004211511,0,0,1,0,0);
  -ms-transform: matrix( 0.91343004211511,0,0,1,0,0);
  position: absolute;
  left: 269.485px;
  top: 295px;
  width: 180.375px;
  height: 44px;
  z-index: 19;
}

.Menu_Button {
	font-size: 48px;
	font-family: "Century Gothic";
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: center;
	-moz-transform: matrix( 0.91343004211511,0,0,1,0,0);
	-webkit-transform: matrix( 0.91343004211511,0,0,1,0,0);
	-ms-transform: matrix( 0.91343004211511,0,0,1,0,0);
	position: absolute;
	left: 930px;
	top: 295px;
	width: 169.008px;
	height: 44px;
	z-index: 20;
}

.Contact_Us_Button {
  font-size: 48px;
  font-family: "Century Gothic";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.91343004211511,0,0,1,0,0);
  -webkit-transform: matrix( 0.91343004211511,0,0,1,0,0);
  -ms-transform: matrix( 0.91343004211511,0,0,1,0,0);
  position: absolute;
  left: 1200px;
  top: 295px;
  width: 231.351px;
  height: 44px;
  z-index: 21;
}

.Signature {
  font-size: 12px;
  font-family: "Segoe UI";
  color: rgb(225, 196, 49);
  font-style: italic;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 457.562px;
  top: 1749.599px;
  z-index: 23;
}

.Gold_Rectangle {	
	background-color: #d59f0f;
	position: absolute;
	left: 0px;
	top: 1200px;
	width: 1520px;
	height: 600px;
	z-index: 27;
}

#map {
	margin-top: 160px;
	width: 100%;
	height: 400px;
	background-color: grey;
	z-index: 29;
}

.Heart_shape {
  background-color: rgb(255, 0, 0);
  position: absolute;
  left: 622px;
  top: 1750px;
  width: 17px;
  height: 14px;
  z-index: 24;
}

.Logo {
	content: url(../Elements/IndyPerkFinal1.png);
	opacity: 1;
	position: absolute;
	left: 506.667px;
	top: 5px;
	height: 561.312px;
	width: 394.656px;
	z-index: 25;
}

